section > header{
    text-transform: uppercase;
}
article > header{
    text-transform: uppercase;
}
nav ul li {
    display: inline-flex;
}
nav ul li a {
    text-transform: capitalize;
    padding: 15px;
}
nav ul li a:hover {
    background-color: gray;
}
table, th, tr, td{
    border-collapse: collapse;
    border: 3px dotted black;
}
th, td{
    padding: 10px;
    text-align: center;
}
th{
    background-color: greenyellow;
}
td{
    white-space: pre-line;
}
footer{
    position: fixed;
    margin: auto;
    bottom: 0;
    width: inherit;
    text-align: center;
}
body{
    margin: auto;
    width: 1000px;
    background-image: url("../img/background.jpg");
    background-size: auto;

}

input{
    background-color: lightgreen;
}
form fieldset{
    padding: 10px;
}

.imgFloat
{
    float: left;
}

.label{
    float: left;
    width: 50px;
    text-transform: capitalize;
}

.checkbox{
    padding: 10px;
}

.cookiesDialog {
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: rgba(0,0,0,0.5);
    color: lightgray;
    padding: 5px;
}

.cookiesDialog p {
    margin: 0px;
}
